html {
  font-size: 62.5%; /* Setter font-size til 62.5% av default size */
}

* {
  padding: 0;
  margin: 0;
  color: #1a1a1a;
}

body {
  margin: 0;
  font: 2rem Montserrat, sans-serif;
  line-height: 1.8;
  background-color: #fafafa;
  min-height: 100vh;

  opacity:0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
}

p {
  font-size: 1.6rem;
}

.margin {
  margin-bottom: 4.5rem;
}

#aboutMe {
    background-color: #474e5d;
    color: #1a1a1a;
}

#aboutMe p {
  padding: 1.5rem;
}

.work p {
  padding: 1.3rem;
}

.container-fluid {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
}

.navbar-nav  li a:hover {
    color: #1a1a1a !important;
}

a {
  color: #1a1a1a;
}

p {
  color: #1a1a1a;
  font-size: large;
}

#contact {
  margin-top: 10rem;
}

.mailto {
  margin-top: 10rem;
  color: #1a1a1a;
  text-align: center;
  font-size: 3rem;
}

.mailto :hover {
  opacity: 0.7;
}

.sosial-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -25px;

  margin-bottom: 20rem;
}

section a.fa {
  padding: 2rem;
  font-size: 3rem;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 0.5rem 0.3rem;
  border-radius: 50%;
}

section a.fa:hover {
    opacity: 0.7;
}

/* Footer */
footer {
  color: #1a1a1a;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

h6#copyright i.material-icons {
  font-size: 1.2rem;
}
